@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.body 
{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #000;
}
section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #000;
}
section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,var(--primary),#000);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
section span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 16px);
  height: calc(6.25vw - 16px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}

section .container
{
  position: absolute;
  width: 98%;
  height: 98%;
  opacity: 85%;
  background: #222;  
  z-index: 1000;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
section .container ::-webkit-scrollbar {
  display: none;
}
section .container .homecontent 
{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
section .container .homecontent::-webkit-scrollbar {
  display: none;
}
section .container .homecontent .images {
  display: flex;
  align-items: center;
}

.images img {
  height: auto;
}

.srmlogo {
  width: 27%; /* Set a specific width for the center image */
  margin-left: 4%;
  margin-right: 6%;
}

/* Adjust the order property if needed */
.techutsavlogo {
  width: 32%; /* Set a specific width for the left image */
}

.infernologo {
  width: 7%; /* Set a specific width for the first right image */
  margin-right: 2%;
}

.lwlogo {
  width: 21%; /* Set a specific width for the second right image */
}
section .container .homecontent h1 
{
  font-size: 2em !important;
  font-family: "Josefin Sans", sans-serif !important;
  color: #fff !important;
  text-align: center;
}
section .container .homecontent h1 .highlight
{
  font-size: 150% !important;
  font-family: "Josefin Sans", sans-serif !important;
  text-transform: uppercase;
}
section .container .homecontent h2 
{
  font-size: 2em;
  font-family: "Jost", sans-serif;
  color: var(--primary);
  text-align: left;
}
section .container .homecontent p
{
  font-size: 1.1em;
  font-family: "Yantramanav", sans-serif;
  color: #fff;
  text-align: left;
  margin-top: -30px;
}
section .container .homecontent p .highlight
{
  font-size: 150%;
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary);
  text-transform: uppercase;
  text-align: center;
}
section .container .homecontent p .subheading
{
  font-size: 120%;
  color: var(--primary);
}
section .container .homecontent h3
{
  font-size: 1.5em;
  color: var(--primary);
  text-align: center;
}
section .container .homecontent a
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}
section .container .homecontent a :hover
{
  transform: scale(1.1);
  color: var(--primary);
  background-color: #000;
  border: solid 2px var(--primary);
}
section .container .homecontent a h4
{
  font-size: 1.1em;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--primary);
  color: #000;
  margin-bottom: 0px;
  font-family: "Josefin Sans", sans-serif !important;
  border: solid 2px #000;
  transition: transform 0.7s ease-out;
}
@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  section span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}

/* Rule Book */
section .container .rulebookcontent 
{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: scroll;
  display: flex;
  align-items: center;
  overflow: hidden;
}
section .container .rulebookcontent::-webkit-scrollbar {
  display: none;
}
section .container .rulebookcontent h1 
{
  font-size: 2em !important;
  font-family: "Josefin Sans", sans-serif !important;
  color: #fff !important;
  text-align: center;
}
section .container .rulebookcontent h1 .highlight
{
  font-size: 150% !important;
  font-family: "Josefin Sans", sans-serif !important;
  text-transform: uppercase;
}
section .container .rulebookcontent h2 
{
  font-size: 2em;
  font-family: "Jost", sans-serif;
  color: var(--primary);
  text-align: left;
}
section .container .rulebookcontent p
{
  width: 100%;
  font-size: 1.3em !important;
  color: #fff;
  text-align: left;
  margin-top: -30px;
}
section .container .rulebookcontent p .highlight
{
  font-size: 150%;
  font-family: "Josefin Sans", sans-serif;
  color: var(--primary);
  text-transform: uppercase;
  text-align: center;
}
section .container .rulebookcontent p .subheading
{
  font-size: 120%;
  color: var(--primary);
}
section .container .rulebookcontent h3
{
  font-size: 1.5em;
  color: var(--primary);
  text-align: center;
}
section .container .rulebookcontent a
{
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}
section .container .rulebookcontent a :hover
{
  transform: scale(1.1);
  color: var(--primary);
  background-color: #000;
  border: solid 2px var(--primary);
}
section .container .rulebookcontent a h4
{
  font-size: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--primary);
  color: #000;
  margin-bottom: 0px;
  font-family: "Josefin Sans", sans-serif !important;
  border: solid 2px #000;
  transition: transform 0.7s ease-out;
}

/* Events */

body {
  margin-top: 20px;
  background: #eee;
}
.timeline {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  color: #ffffff;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  border-right: 2px dashed #c4d2e2;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}

.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 31px;
  text-align: right;
  margin-right: 20px;
  color: #fff;
  font-size: 1.5rem;
}

.timeline-row .timeline-time small {
  display: block;
  font-size: 0.8rem;
  color: #c5c5c5;
}

.timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 3px;
  width: 40px;
}

.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -50px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 100;
  background: #ffffff;
  border: 2px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
}

.timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}

.timeline-row .timeline-content a {
  display: block;
  margin-top: 20px;
}

.timeline-row .timeline-content i {
  font-size: 2rem;
  color: #ffffff;
  line-height: 100%;
  padding: 10px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  display: inline-block;
}

.timeline-row .timeline-content .thumbs {
  margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
  margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {
  background-color: #ff5000;
  /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fc6d4c),
    to(#ff5000)
  );
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fc6d4c, #ff5000);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #fc6d4c, #ff5000);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #fc6d4c, #ff5000);
  /* IE10 */
  background-image: -o-linear-gradient(top, #fc6d4c, #ff5000);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #fc6d4c, #ff5000);
  margin-left: 40px;
  text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
  left: -63px;
  border-right: 18px solid #ff5000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
  left: -50px;
  right: initial;
}

.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
  background-color: #5a99ee;
  /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1379bb),
    to(#5a99ee)
  );
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #1379bb, #5a99ee);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #1379bb, #5a99ee);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #1379bb, #5a99ee);
  /* IE10 */
  background-image: -o-linear-gradient(top, #1379bb, #5a99ee);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #1379bb, #5a99ee);
  margin-right: 40px;
  margin-left: 0;
  text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
  right: -63px;
  border-left: 18px solid #1379bb;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
  .timeline {
    padding: 15px 10px;
  }
  .timeline:after {
    left: 28px;
  }
  .timeline .timeline-row {
    padding-left: 0;
    margin-bottom: 16px;
  }
  .timeline .timeline-row .timeline-time {
    position: relative;
    right: auto;
    top: 0;
    text-align: left;
    margin: 0 0 6px 56px;
  }
  .timeline .timeline-row .timeline-time strong {
    display: inline-block;
    margin-right: 10px;
  }
  .timeline .timeline-row .timeline-icon {
    top: 52px;
    left: -2px;
    margin-left: 0;
  }
  .timeline .timeline-row .timeline-content {
    padding: 15px;
    margin-left: 56px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .timeline .timeline-row .timeline-content:after {
    right: auto;
    left: -39px;
    top: 32px;
  }
  .timeline .timeline-row:nth-child(odd) {
    padding-right: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    right: auto;
    left: auto;
    top: 0;
    text-align: left;
    margin: 0 0 6px 56px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin-right: 0;
    margin-left: 55px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    right: auto;
    left: -39px;
    top: 32px;
    border-right: 18px solid #5a99ee;
    border-left: inherit;
  }
  .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
    left: 20px;
  }
  .timeline.animated
    .timeline-row.active:nth-child(odd)
    .timeline-content {
    left: 0;
  }
}

.bootdey h1 {
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif !important;
  color: #0096FF !important;
  font-size: 32px;
  margin-bottom: 30px;
  margin-left: 10px;
  color: #fff;
}

.bootdey .card {
  background-color: #222;
}

section .container .bootdey {
  position: relative;
  width: 100%;
  height: 100%;
  gap: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bootdey .btn {
  background-color: #222;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}
.bootdey a :hover {
  transform: scale(1.2);
  background: #000;
  color: #fff;
}

section .container .bootdey::-webkit-scrollbar {
  display: none;
}

/* Register */
section .container .registercontent 
{
  position: relative;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.container .event_button a .header__btn {
  background-color: #000;
  border: 2px solid var(--primary);
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
.container .event_button a :hover {
  background-color: var(--primary);
  border: 2px solid #000;
  transform: scale(1.2);
}
.container .event_button a {
  text-decoration: none;
}
.container .event_button {
  position: relative;
  margin-bottom: 20px;
  margin-left: 30px;
}
section .container .registercontent h1 
{
  font-size: 2em;
  font-family: "Josefin Sans", sans-serif !important;
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
}
section .container .registercontent h1 .highlight
{
  font-size: 150% !important;
  font-family: "Josefin Sans", sans-serif !important;
  color: #0096FF;
  text-transform: uppercase;
  text-align: center;
}
section .container .registercontent .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-x: hidden;
}
section .container ::-webkit-scrollbar
{
  display: none;
}
section .container .registercontent .form .inputBox
{
  position: relative;
  margin-top: 20px;
}
section .container .registercontent .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .container .registercontent .form .inputBox select 
{
  position: absolute;
  left: 40%;
  width: 20%;
  background: #333;
  border: none;
  outline: none;
  padding: 5px;
  margin-top: 7px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .container .registercontent .form .inputBox label
{
  position: absolute;
  left: 10px;
  padding: 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
  font-size: 1em;
  margin-left: 0;
}
section .container .registercontent .form label
{
  font-size: 1.1em;
  display: flex;
  justify-content: left;
  margin-left: 20px;
}
section .container .registercontent .form .inputBox input[type="text"]
{
  left: 10px;
  font-family: "Quicksand", sans-serif !important;
  font-size: 1.3em;
}
section .container .registercontent .form .inputBox i 
{
  position: absolute;
  left: 10px;
  padding: 19px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.container .registercontent .form .inputBox input:focus ~ i,
.container .registercontent .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.container .registercontent .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .registercontent .form .links a 
{
  color: #fff;
  text-decoration: none;
}
.container .registercontent .form .links a:nth-child(2)
{
  color: #0096FF;
  font-weight: 600;
}
.container .registercontent .form .inputBox input[type="submit"]
{
  padding: 10px;
  margin-bottom: 40px;
  border: solid 2px var(--primary);
  background: #000;
  color: #fff;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  width: 120px;
  font-family: "Josefin Sans", sans-serif !important;
}
input[type="submit"]:active
{
  opacity: 0.6;
}