* {
  --text: #ffffff;
  --background: #000000;
  --primary: #5627ce;
  --secondary: #f9f8fc;
  --accent: #6441a4;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background) !important;
  color: var(--text) !important;
}
